{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "OpenSeadragon": false,
    "Promise": false
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn"
  }
}
