{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "OpenSeadragon": false,
    "Promise": false
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
